body {
    height: 100vh;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1280x1920/b474a9a8e55a937d6e9c5ae12183de0d/photo-1621173865362-b3fec79a0458.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}