.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #888;
    font-size: 20px;
    margin-bottom: 40px;
}

.root form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

